block config

doctype html
html(lang=__.lang, class="no-js")
    head
        block head
            include head
    body.body(class=bodyClass)
        include mixins
        .content.content-white
            block content
        block scripts-config
        block scripts
            include scripts