.svgsprite {
    display:inline-block;
    fill:currentColor;
    vertical-align:middle;

    &._add {
    	width:11px;
    	height:12px;
    }
    &._admin-exit {
    	width:24px;
    	height:24px;
    }
    &._admin-user {
    	width:27px;
    	height:26px;
    }
    &._arrow {
    	width:38px;
    	height:38px;
    }
    &._back {
    	width:41px;
    	height:41px;
    }
    &._basket {
    	width:21px;
    	height:22px;
    }
    &._basket-delete {
    	width:20px;
    	height:20px;
    }
    &._basket-mobile {
    	width:21px;
    	height:21px;
    }
    &._blue-edit {
    	width:19px;
    	height:19px;
    }
    &._buy-orders {
    	width:18px;
    	height:16px;
    }
    &._catalog-btn {
    	width:16px;
    	height:8px;
    }
    &._check {
    	width:11px;
    	height:8px;
    }
    &._clear-filter {
    	width:8px;
    	height:8px;
    }
    &._clear-flag {
    	width:29px;
    	height:34px;
    }
    &._clock {
    	width:38px;
    	height:38px;
    }
    &._delete {
    	width:15px;
    	height:16px;
    }
    &._delete-file {
    	width:20px;
    	height:20px;
    }
    &._document {
    	width:38px;
    	height:38px;
    }
    &._documents {
    	width:38px;
    	height:38px;
    }
    &._dollar {
    	width:38px;
    	height:38px;
    }
    &._done {
    	width:20px;
    	height:20px;
    }
    &._download {
    	width:20px;
    	height:15px;
    }
    &._drop {
    	width:11px;
    	height:8px;
    }
    &._edit {
    	width:14px;
    	height:14px;
    }
    &._error {
    	width:20px;
    	height:20px;
    }
    &._exit {
    	width:17px;
    	height:17px;
    }
    &._eye {
    	width:38px;
    	height:38px;
    }
    &._file-load {
    	width:31px;
    	height:22px;
    }
    &._filter {
    	width:18px;
    	height:18px;
    }
    &._grey-check {
    	width:11px;
    	height:8px;
    }
    &._header-buys-1 {
    	width:16px;
    	height:14px;
    }
    &._header-buys-2 {
    	width:10px;
    	height:19px;
    }
    &._header-buys-3 {
    	width:19px;
    	height:19px;
    }
    &._header-buys-4 {
    	width:23px;
    	height:23px;
    }
    &._header-contragent {
    	width:20px;
    	height:15px;
    }
    &._header-finance {
    	width:12px;
    	height:21px;
    }
    &._header-flag {
    	width:14px;
    	height:16px;
    }
    &._header-history {
    	width:24px;
    	height:25px;
    }
    &._header-logist-adress {
    	width:14px;
    	height:16px;
    }
    &._header-manager-1 {
    	width:21px;
    	height:22px;
    }
    &._header-manager-2 {
    	width:19px;
    	height:19px;
    }
    &._header-manager-3 {
    	width:23px;
    	height:23px;
    }
    &._header-manager-4 {
    	width:19px;
    	height:19px;
    }
    &._header-orders {
    	width:15px;
    	height:17px;
    }
    &._header-test {
    	width:20px;
    	height:20px;
    }
    &._header-user {
    	width:21px;
    	height:21px;
    }
    &._header-users {
    	width:18px;
    	height:18px;
    }
    &._home {
    	width:38px;
    	height:38px;
    }
    &._logist-menu-1 {
    	width:24px;
    	height:24px;
    }
    &._logist-menu-2 {
    	width:24px;
    	height:24px;
    }
    &._main-panels-ico_1 {
    	width:57px;
    	height:58px;
    }
    &._main-panels-ico_2 {
    	width:58px;
    	height:58px;
    }
    &._main-panels-ico_3 {
    	width:58px;
    	height:58px;
    }
    &._main-panels-ico_4 {
    	width:58px;
    	height:58px;
    }
    &._meneger-info {
    	width:25px;
    	height:25px;
    }
    &._minus {
    	width:6px;
    	height:2px;
    }
    &._mobile-popup-close {
    	width:19px;
    	height:19px;
    }
    &._next {
    	width:15px;
    	height:16px;
    }
    &._notifications {
    	width:19px;
    	height:20px;
    }
    &._order {
    	width:38px;
    	height:38px;
    }
    &._order-user {
    	width:16px;
    	height:16px;
    }
    &._plus {
    	width:7px;
    	height:8px;
    }
    &._prev {
    	width:15px;
    	height:16px;
    }
    &._progress {
    	width:20px;
    	height:20px;
    }
    &._search {
    	width:18px;
    	height:18px;
    }
    &._select-check {
    	width:20px;
    	height:21px;
    }
    &._status-arrow {
    	width:13px;
    	height:13px;
    }
    &._subtract {
    	width:13px;
    	height:13px;
    }
    &._table-edit {
    	width:18px;
    	height:5px;
    }
    &._tablet-exit {
    	width:32px;
    	height:32px;
    }
    &._user {
    	width:26px;
    	height:26px;
    }
    &._user-1 {
    	width:38px;
    	height:38px;
    }
}