extends _includes/layout-manager

block config
  - var pagetitle = 'Главная';
  - var bodyClass = '';
block content
  section.section-grey
    +header-back('ООО “РосКосмос”')
    .test 
      .test__nav
        a.test__nav-link(href="#")
          .test__nav-number 1 
          | Реквизиты компании 
        a.test__nav-link(href="#") 
          .test__nav-number 2
          | Основной документ 
        a.test__nav-link.active(href="#") 
          .test__nav-number 3
          | Заключение 
      form.test__content
        h2 Заключение
        .main__description
          p.text-regular-big Заполните и проверьте реквизиты организации. Это важно для следующего этапа
        .test-form__block 
            p.text-regular-small Заключение
            textarea.textarea.textarea-big(placeholder="Напишите заключение")
        .test__btns 
          +btn-large('Сохранить и далее')
          button.cancel Отменить