@charset "UTF-8";

/* Main Colors */

/* Fonts */

/*container*/

/* custom-reset.css | 27.08.2018 | https://yurch-html.github.io/dist/custom-reset.html */

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background-color: #fff;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

:focus {
  outline: none;
}

p,
dd,
dl,
figure,
blockquote {
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

audio,
video {
  display: block;
}

img {
  display: block;
  border: none;
  max-width: 100%;
}

iframe {
  border: none;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr {
  border: none;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

i,
em {
  font-style: inherit;
}

dfn {
  font-style: inherit;
}

mark {
  background-color: transparent;
  color: inherit;
}

small {
  font-size: inherit;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: inherit;
  line-height: 0;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-align: left;
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: none;
}

[type='number'] {
  -moz-appearance: textfield;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
  -webkit-appearance: none;
  margin: 0;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type='search'] {
  outline: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

legend {
  display: block;
  padding: 0;
  white-space: normal;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

::placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s;
}

:-moz-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s;
}

:focus::placeholder {
  opacity: 0;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus::-moz-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

svg {
  display: block;
  fill: currentColor;
}

[hidden] {
  display: none;
}

:disabled,
.disabled {
  cursor: not-allowed;
}

::-ms-clear {
  display: none;
}

:-webkit-autofill {
  box-shadow: 0 0 100px #fff inset;
  -webkit-text-fill-color: currentColor;
}

::selection {
  color: #fff;
  background-color: #1D0D0B;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.cover-pic,
.contain-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover-pic {
  object-fit: cover;
}

.contain-pic {
  object-fit: contain;
}

.footer {
  margin-top: auto;
}

.air-datepicker-cell.-day-.-other-month-,
.air-datepicker-cell.-year-.-other-decade- {
  color: var(--adp-color-other-month);
}

.air-datepicker-cell.-day-.-other-month-:hover,
.air-datepicker-cell.-year-.-other-decade-:hover {
  color: var(--adp-color-other-month-hover);
}

.-disabled-.-focus-.air-datepicker-cell.-day-.-other-month-,
.-disabled-.-focus-.air-datepicker-cell.-year-.-other-decade- {
  color: var(--adp-color-other-month);
}

.-selected-.air-datepicker-cell.-day-.-other-month-,
.-selected-.air-datepicker-cell.-year-.-other-decade- {
  color: #fff;
  background: var(--adp-background-color-selected-other-month);
}

.-selected-.-focus-.air-datepicker-cell.-day-.-other-month-,
.-selected-.-focus-.air-datepicker-cell.-year-.-other-decade- {
  background: var(--adp-background-color-selected-other-month-focused);
}

.-in-range-.air-datepicker-cell.-day-.-other-month-,
.-in-range-.air-datepicker-cell.-year-.-other-decade- {
  background-color: var(--adp-background-color-in-range);
  color: var(--adp-color);
}

.-in-range-.-focus-.air-datepicker-cell.-day-.-other-month-,
.-in-range-.-focus-.air-datepicker-cell.-year-.-other-decade- {
  background-color: var(--adp-background-color-in-range-focused);
}

.air-datepicker-cell.-day-.-other-month-:empty,
.air-datepicker-cell.-year-.-other-decade-:empty {
  background: none;
  border: none;
}

.air-datepicker-cell {
  border-radius: var(--adp-cell-border-radius);
  box-sizing: border-box;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
}

.air-datepicker-cell.-focus- {
  background: var(--adp-background-color-hover);
}

.air-datepicker-cell.-current- {
  color: var(--adp-color-current-date);
}

.air-datepicker-cell.-current-.-focus- {
  color: var(--adp-color);
}

.air-datepicker-cell.-current-.-in-range- {
  color: var(--adp-color-current-date);
}

.air-datepicker-cell.-disabled- {
  cursor: default;
  color: var(--adp-color-disabled);
}

.air-datepicker-cell.-disabled-.-focus- {
  color: var(--adp-color-disabled);
}

.air-datepicker-cell.-disabled-.-in-range- {
  color: var(--adp-color-disabled-in-range);
}

.air-datepicker-cell.-disabled-.-current-.-focus- {
  color: var(--adp-color-disabled);
}

.air-datepicker-cell.-in-range- {
  background: var(--adp-cell-background-color-in-range);
  border-radius: 0;
}

.air-datepicker-cell.-in-range-:hover {
  background: var(--adp-cell-background-color-in-range-hover);
}

.air-datepicker-cell.-range-from- {
  border: 1px solid var(--adp-cell-border-color-in-range);
  background-color: var(--adp-cell-background-color-in-range);
  border-radius: var(--adp-cell-border-radius) 0 0 var(--adp-cell-border-radius);
}

.air-datepicker-cell.-range-to- {
  border: 1px solid var(--adp-cell-border-color-in-range);
  background-color: var(--adp-cell-background-color-in-range);
  border-radius: 0 var(--adp-cell-border-radius) var(--adp-cell-border-radius) 0;
}

.air-datepicker-cell.-range-to-.-range-from- {
  border-radius: var(--adp-cell-border-radius);
}

.air-datepicker-cell.-selected- {
  color: #fff;
  border: none;
  background: var(--adp-cell-background-color-selected);
}

.air-datepicker-cell.-selected-.-current- {
  color: #fff;
  background: var(--adp-cell-background-color-selected);
}

.air-datepicker-cell.-selected-.-focus- {
  background: var(--adp-cell-background-color-selected-hover);
}

.air-datepicker-body {
  transition: all var(--adp-transition-duration) var(--adp-transition-ease);
}

.air-datepicker-body.-hidden- {
  display: none;
}

.air-datepicker-body--day-names {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: var(--adp-day-cell-width) [7];
  grid-template-columns: repeat(7, var(--adp-day-cell-width));
  margin: 8px 0 3px;
}

.air-datepicker-body--day-name {
  color: var(--adp-day-name-color);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
}

.air-datepicker-body--cells {
  display: -ms-grid;
  display: grid;
}

.air-datepicker-body--cells.-days- {
  -ms-grid-columns: var(--adp-day-cell-width) [7];
  grid-template-columns: repeat(7, var(--adp-day-cell-width));
  grid-auto-rows: var(--adp-day-cell-height);
}

.air-datepicker-body--cells.-months- {
  -ms-grid-columns: 1fr [3];
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: var(--adp-month-cell-height);
}

.air-datepicker-body--cells.-years- {
  -ms-grid-columns: 1fr [4];
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: var(--adp-year-cell-height);
}

.air-datepicker-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid var(--adp-border-color-inner);
  min-height: var(--adp-nav-height);
  padding: var(--adp-padding);
}

.-only-timepicker- .air-datepicker-nav {
  display: none;
}

.air-datepicker-nav--title,
.air-datepicker-nav--action {
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.air-datepicker-nav--action {
  width: var(--adp-day-cell-width);
  border-radius: var(--adp-border-radius);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.air-datepicker-nav--action:hover {
  background: var(--adp-background-color-hover);
}

.air-datepicker-nav--action:active {
  background: var(--adp-background-color-active);
}

.air-datepicker-nav--action.-disabled- {
  visibility: hidden;
}

.air-datepicker-nav--action svg {
  width: 32px;
  height: 32px;
}

.air-datepicker-nav--action path {
  fill: none;
  stroke: var(--adp-nav-arrow-color);
  stroke-width: 2px;
}

.air-datepicker-nav--title {
  border-radius: var(--adp-border-radius);
  padding: 0 8px;
}

.air-datepicker-nav--title i {
  font-style: normal;
  color: var(--adp-nav-color-secondary);
  margin-left: .3em;
}

.air-datepicker-nav--title:hover {
  background: var(--adp-background-color-hover);
}

.air-datepicker-nav--title:active {
  background: var(--adp-background-color-active);
}

.air-datepicker-nav--title.-disabled- {
  cursor: default;
  background: none;
}

.air-datepicker-buttons {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.air-datepicker-button {
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--adp-btn-color);
  border-radius: var(--adp-btn-border-radius);
  cursor: pointer;
  height: var(--adp-btn-height);
  border: none;
  background: rgba(255, 255, 255, 0);
}

.air-datepicker-button:hover {
  color: var(--adp-btn-color-hover);
  background: var(--adp-btn-background-color-hover);
}

.air-datepicker-button:focus {
  color: var(--adp-btn-color-hover);
  background: var(--adp-btn-background-color-hover);
  outline: none;
}

.air-datepicker-button:active {
  background: var(--adp-btn-background-color-active);
}

.air-datepicker-button span {
  outline: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.air-datepicker-time {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 12px;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0 var(--adp-time-padding-inner);
}

.-only-timepicker- .air-datepicker-time {
  border-top: none;
}

.air-datepicker-time--current {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex: 1;
  flex: 1;
  font-size: 14px;
  text-align: center;
}

.air-datepicker-time--current-colon {
  margin: 0 2px 3px;
  line-height: 1;
}

.air-datepicker-time--current-hours,
.air-datepicker-time--current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1;
}

.air-datepicker-time--current-hours:after,
.air-datepicker-time--current-minutes:after {
  content: '';
  background: var(--adp-background-color-hover);
  border-radius: var(--adp-border-radius);
  position: absolute;
  left: -2px;
  top: -3px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  opacity: 0;
}

.air-datepicker-time--current-hours.-focus-:after,
.air-datepicker-time--current-minutes.-focus-:after {
  opacity: 1;
}

.air-datepicker-time--current-ampm {
  text-transform: uppercase;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: var(--adp-time-day-period-color);
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px;
}

.air-datepicker-time--row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(to right, var(--adp-time-track-color), var(--adp-time-track-color)) left 50%/100% var(--adp-time-track-height) no-repeat;
}

.air-datepicker-time--row:first-child {
  margin-bottom: 4px;
}

.air-datepicker-time--row input[type='range'] {
  background: none;
  cursor: pointer;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}

.air-datepicker-time--row input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.air-datepicker-time--row input[type='range']::-ms-tooltip {
  display: none;
}

.air-datepicker-time--row input[type='range']:hover::-webkit-slider-thumb {
  border-color: var(--adp-time-track-color-hover);
}

.air-datepicker-time--row input[type='range']:hover::-moz-range-thumb {
  border-color: var(--adp-time-track-color-hover);
}

.air-datepicker-time--row input[type='range']:hover::-ms-thumb {
  border-color: var(--adp-time-track-color-hover);
}

.air-datepicker-time--row input[type='range']:focus {
  outline: none;
}

.air-datepicker-time--row input[type='range']:focus::-webkit-slider-thumb {
  background: var(--adp-cell-background-color-selected);
  border-color: var(--adp-cell-background-color-selected);
}

.air-datepicker-time--row input[type='range']:focus::-moz-range-thumb {
  background: var(--adp-cell-background-color-selected);
  border-color: var(--adp-cell-background-color-selected);
}

.air-datepicker-time--row input[type='range']:focus::-ms-thumb {
  background: var(--adp-cell-background-color-selected);
  border-color: var(--adp-cell-background-color-selected);
}

.air-datepicker-time--row input[type='range']::-webkit-slider-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid var(--adp-time-track-color);
  background: #fff;
  cursor: pointer;
  transition: background var(--adp-transition-duration);
}

.air-datepicker-time--row input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid var(--adp-time-track-color);
  background: #fff;
  cursor: pointer;
  transition: background var(--adp-transition-duration);
}

.air-datepicker-time--row input[type='range']::-ms-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid var(--adp-time-track-color);
  background: #fff;
  cursor: pointer;
  transition: background var(--adp-transition-duration);
}

.air-datepicker-time--row input[type='range']::-webkit-slider-thumb {
  margin-top: calc(var(--adp-time-thumb-size) / 2 * -1);
}

.air-datepicker-time--row input[type='range']::-webkit-slider-runnable-track {
  border: none;
  height: var(--adp-time-track-height);
  cursor: pointer;
  color: transparent;
  background: transparent;
}

.air-datepicker-time--row input[type='range']::-moz-range-track {
  border: none;
  height: var(--adp-time-track-height);
  cursor: pointer;
  color: transparent;
  background: transparent;
}

.air-datepicker-time--row input[type='range']::-ms-track {
  border: none;
  height: var(--adp-time-track-height);
  cursor: pointer;
  color: transparent;
  background: transparent;
}

.air-datepicker-time--row input[type='range']::-ms-fill-lower {
  background: transparent;
}

.air-datepicker-time--row input[type='range']::-ms-fill-upper {
  background: transparent;
}

.air-datepicker {
  --adp-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --adp-font-size: 14px;
  --adp-width: 246px;
  --adp-z-index: 100;
  --adp-padding: 4px;
  --adp-grid-areas: 'nav'
    'body'
    'timepicker'
    'buttons';
  --adp-transition-duration: .3s;
  --adp-transition-ease: ease-out;
  --adp-transition-offset: 8px;
  --adp-background-color: #fff;
  --adp-background-color-hover: #f0f0f0;
  --adp-background-color-active: #eaeaea;
  --adp-background-color-in-range: rgba(92, 196, 239, .1);
  --adp-background-color-in-range-focused: rgba(92, 196, 239, .2);
  --adp-background-color-selected-other-month-focused: #8ad5f4;
  --adp-background-color-selected-other-month: #a2ddf6;
  --adp-color: #4a4a4a;
  --adp-color-secondary: #9c9c9c;
  --adp-accent-color: #4eb5e6;
  --adp-color-current-date: var(--adp-accent-color);
  --adp-color-other-month: #dedede;
  --adp-color-disabled: #aeaeae;
  --adp-color-disabled-in-range: #939393;
  --adp-color-other-month-hover: #c5c5c5;
  --adp-border-color: #dbdbdb;
  --adp-border-color-inner: #efefef;
  --adp-border-radius: 4px;
  --adp-border-color-inline: #d7d7d7;
  --adp-nav-height: 32px;
  --adp-nav-arrow-color: var(--adp-color-secondary);
  --adp-nav-color-secondary: var(--adp-color-secondary);
  --adp-day-name-color: #ff9a19;
  --adp-day-cell-width: 1fr;
  --adp-day-cell-height: 32px;
  --adp-month-cell-height: 42px;
  --adp-year-cell-height: 56px;
  --adp-pointer-size: 10px;
  --adp-pointer-offset: 10px;
  --adp-cell-border-radius: 4px;
  --adp-cell-background-color-selected: #5cc4ef;
  --adp-cell-background-color-selected-hover: #45bced;
  --adp-cell-background-color-in-range: rgba(92, 196, 239, 0.1);
  --adp-cell-background-color-in-range-hover: rgba(92, 196, 239, 0.2);
  --adp-cell-border-color-in-range: var(--adp-cell-background-color-selected);
  --adp-btn-height: 32px;
  --adp-btn-color: var(--adp-accent-color);
  --adp-btn-color-hover: var(--adp-color);
  --adp-btn-border-radius: var(--adp-border-radius);
  --adp-btn-background-color-hover: var(--adp-background-color-hover);
  --adp-btn-background-color-active: var(--adp-background-color-active);
  --adp-time-track-height: 1px;
  --adp-time-track-color: #dedede;
  --adp-time-track-color-hover: #b1b1b1;
  --adp-time-thumb-size: 12px;
  --adp-time-padding-inner: 10px;
  --adp-time-day-period-color: var(--adp-color-secondary);
}

.air-datepicker {
  background: var(--adp-background-color);
  border: 1px solid var(--adp-border-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: var(--adp-border-radius);
  box-sizing: content-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: max-content [4];
  grid-template-rows: repeat(4, max-content);
  grid-template-areas: var(--adp-grid-areas);
  font-family: var(--adp-font-family), sans-serif;
  font-size: var(--adp-font-size);
  color: var(--adp-color);
  width: var(--adp-width);
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity var(--adp-transition-duration) var(--adp-transition-ease), transform var(--adp-transition-duration) var(--adp-transition-ease), left 0s var(--adp-transition-duration);
  z-index: var(--adp-z-index);
}

.air-datepicker.-from-top- {
  transform: translateY(calc(var(--adp-transition-offset) * -1));
}

.air-datepicker.-from-right- {
  transform: translateX(var(--adp-transition-offset));
}

.air-datepicker.-from-bottom- {
  transform: translateY(var(--adp-transition-offset));
}

.air-datepicker.-from-left- {
  transform: translateX(calc(var(--adp-transition-offset) * -1));
}

.air-datepicker.-active- {
  opacity: 1;
  transform: translate(0);
  transition: opacity var(--adp-transition-duration) var(--adp-transition-ease), transform var(--adp-transition-duration) var(--adp-transition-ease), left 0s 0s;
}

.air-datepicker.-inline- {
  border-color: var(--adp-border-color-inline);
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  transform: none;
}

.air-datepicker.-inline- .air-datepicker--pointer {
  display: none;
}

.air-datepicker-global-container {
  position: absolute;
  left: 0;
  top: 0;
}

.air-datepicker--pointer {
  --pointer-half-size: calc(var(--adp-pointer-size) / 2);
  position: absolute;
  background: #fff;
  border-top: 1px solid var(--adp-border-color-inline);
  border-right: 1px solid var(--adp-border-color-inline);
  width: var(--adp-pointer-size);
  height: var(--adp-pointer-size);
  z-index: -1;
}

.-top-left- .air-datepicker--pointer,
.-top-center- .air-datepicker--pointer,
.-top-right- .air-datepicker--pointer {
  top: calc(100% - var(--pointer-half-size));
  transform: rotate(135deg);
}

.-right-top- .air-datepicker--pointer,
.-right-center- .air-datepicker--pointer,
.-right-bottom- .air-datepicker--pointer {
  right: calc(100% - var(--pointer-half-size));
  transform: rotate(225deg);
}

.-bottom-left- .air-datepicker--pointer,
.-bottom-center- .air-datepicker--pointer,
.-bottom-right- .air-datepicker--pointer {
  bottom: calc(100% - var(--pointer-half-size));
  transform: rotate(315deg);
}

.-left-top- .air-datepicker--pointer,
.-left-center- .air-datepicker--pointer,
.-left-bottom- .air-datepicker--pointer {
  left: calc(100% - var(--pointer-half-size));
  transform: rotate(45deg);
}

.-top-left- .air-datepicker--pointer,
.-bottom-left- .air-datepicker--pointer {
  left: var(--adp-pointer-offset);
}

.-top-right- .air-datepicker--pointer,
.-bottom-right- .air-datepicker--pointer {
  right: var(--adp-pointer-offset);
}

.-top-center- .air-datepicker--pointer,
.-bottom-center- .air-datepicker--pointer {
  left: calc(50% - var(--adp-pointer-size) / 2);
}

.-left-top- .air-datepicker--pointer,
.-right-top- .air-datepicker--pointer {
  top: var(--adp-pointer-offset);
}

.-left-bottom- .air-datepicker--pointer,
.-right-bottom- .air-datepicker--pointer {
  bottom: var(--adp-pointer-offset);
}

.-left-center- .air-datepicker--pointer,
.-right-center- .air-datepicker--pointer {
  top: calc(50% - var(--adp-pointer-size) / 2);
}

.air-datepicker--navigation {
  grid-area: nav;
}

.air-datepicker--content {
  box-sizing: content-box;
  padding: var(--adp-padding);
  grid-area: body;
}

.-only-timepicker- .air-datepicker--content {
  display: none;
}

.air-datepicker--time {
  grid-area: timepicker;
}

.air-datepicker--buttons {
  grid-area: buttons;
}

.air-datepicker--buttons,
.air-datepicker--time {
  padding: var(--adp-padding);
  border-top: 1px solid var(--adp-border-color-inner);
}

.body {
  background: #F1F5F9;
  color: #111723;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 1.2;
  scroll-behavior: smooth;
}

.body.--frozen {
  overflow: hidden;
}

.hidden {
  display: none;
}

.content {
  position: relative;
  z-index: 10;
}

a {
  cursor: pointer;
  color: #111723;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

::placeholder {
  color: #969EA8;
  transition: .4s;
}

:focus::placeholder {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

img {
  max-width: 100%;
  display: block;
}

form {
  display: block;
  width: 100%;
}

label {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
  line-height: 122%;
}

h1 {
  font-size: 24px;
}

.h1 {
  margin-bottom: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p a {
  color: #4E6CD7;
}

.link {
  color: #506FDE;
  font-size: 14px;
  font-weight: 500;
}

.text-medium-big {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.text-medium-small {
  font-weight: 500;
  font-size: 14px;
  line-height: 122%;
}

.text-regular-big {
  font-size: 14px;
  line-height: 122%;
}

.text-regular-small {
  font-size: 13px;
  line-height: 122%;
}

.input {
  margin-bottom: 16px;
  position: relative;
}

.input input {
  height: 50px;
  width: 100%;
  border: 1px solid #C6CFD7;
  border-radius: 4px;
  padding-left: 12px;
  background-color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.input input:disabled {
  color: #818689;
  background-color: #F1F5F9;
}

.password-visible {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-visible .svgsprite._eye {
  width: 16px;
  height: 16px;
}

.checkbox {
  display: flex;
  color: #888;
}

.checkbox__input {
  margin-right: 9px;
}

.checkbox__text {
  flex-grow: 1;
}

.checkbox__text a {
  color: #506FDE;
}

.--grey-1 {
  color: #969EA8;
}

.--grey-2 {
  color: #D1D3D5;
}

.--grey-3 {
  color: #6E7885;
}

.tooltip {
  position: relative;
  z-index: 100;
}

.tooltip__panel {
  position: absolute;
  cursor: default;
  display: none;
}

.tooltip:hover .tooltip__panel {
  display: block;
}

.--left .tooltip__panel {
  left: 100%;
  margin-left: 14px;
  top: -8px;
}

.--left .tooltip__panel:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 12px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 6px solid #fff;
}

.--left .tooltip__panel:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 12px;
  width: 20px;
  height: 60px;
  z-index: 20;
}

.--left-bottom .tooltip__panel {
  bottom: 30px;
  left: 100%;
  margin-left: 8px;
}

.--left-bottom .tooltip__panel:after {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 23px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 6px solid #111723;
}

.--left-bottom .tooltip__panel:before {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 12px;
  width: 20px;
  height: 60px;
  z-index: 20;
}

.tooltip--message .tooltip__panel {
  background-color: #fff;
  box-shadow: 5px 24px 60px rgba(0, 0, 0, 0.22);
  border-radius: 4px;
  color: #111723;
  width: 100vw;
  max-width: 398px;
  min-height: 50vh;
}

.tooltip--manager .tooltip__panel {
  width: 100vh;
  max-width: 240px;
  background-color: #111723;
  border: 1px solid #EFEFF4;
  box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.17);
  border-radius: 9px;
  padding: 14px 20px;
}

.tooltip__head {
  padding: 11px 15px;
  border-bottom: 1px solid #ECF2F4;
}

.blue-ico {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #506FDE;
  display: flex;
  justify-content: center;
}

.blue-ico .svgsprite._order {
  fill: #fff;
  width: 20px;
  transform: translateY(-6px);
}

.blue-ico .svgsprite._document {
  fill: #fff;
  width: 20px;
  transform: translateY(-6px);
}

.message {
  padding: 10px 18px;
  display: flex;
  border-bottom: 1px solid #ECF2F4;
}

.message__ico {
  margin-right: 14px;
}

.message__info {
  width: calc(100% - 40px);
}

.--ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.message__name {
  margin-bottom: 9px;
}

.table-scroll {
  overflow-y: auto;
}

.search {
  width: 100%;
  max-width: 398px;
  background-color: #F1F5F9;
  border-radius: 5px;
  position: relative;
  margin-bottom: 24px;
}

.search__input {
  width: 100%;
  height: 44px;
  padding-left: 43px;
  padding-right: 63px;
  font-size: 14px;
  z-index: 10;
  background-color: transparent;
  border: none;
}

.search__ico {
  position: absolute;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
}

.select {
  width: 100%;
  position: relative;
}

.select__main.active:after {
  transform: translateY(-50%) rotateZ(180deg);
}

.select__main:after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%) rotateZ(0);
  width: 11px;
  height: 8px;
  background: url(../img/form/select.svg) no-repeat center/contain;
  transition: .4s;
}

.select__main input {
  height: 44px;
  padding-left: 12px;
  background-color: #fff;
  border: 1px solid #C6CFD7;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
}

.select__drop {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 4px;
  z-index: 100;
  width: 100%;
  padding: 5px 0 5px;
  background-color: #fff;
  border: 1px solid #C6CFD7;
  border-radius: 5px;
}

.select__item {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 3px;
  padding-right: 5px;
  display: flex;
  transition: .4s;
  font-size: 14px;
  cursor: pointer;
}

.select__item:hover {
  background-color: #ECF2F4;
}

.select__item.active {
  background-color: #ECF2F4;
}

.select__item.active svg {
  opacity: 1;
}

.select__item svg {
  margin-right: 3px;
  opacity: 0;
  transition: .4s;
}

.blogger {
  display: flex;
  padding-top: 32px;
}

.blogger__link {
  width: 42px;
  height: 42px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.blogger__link.active {
  background-color: #F1F5F9;
}

.status-point {
  display: flex;
  align-items: center;
  align-self: flex-start;
  font-size: 14px;
}

.status-point.--red {
  color: #EF4722;
}

.status-point.--red:before {
  background-color: #EF4722;
}

.status-point:before {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: relative;
  margin-right: 12px;
}

.svgsprite {
  display: inline-block;
  fill: currentColor;
  vertical-align: middle;
}

.svgsprite._add {
  width: 11px;
  height: 12px;
}

.svgsprite._arrow {
  width: 38px;
  height: 38px;
}

.svgsprite._basket {
  width: 21px;
  height: 22px;
}

.svgsprite._basket-mobile {
  width: 21px;
  height: 21px;
}

.svgsprite._catalog-btn {
  width: 16px;
  height: 8px;
}

.svgsprite._check {
  width: 11px;
  height: 8px;
}

.svgsprite._clear-filter {
  width: 8px;
  height: 8px;
}

.svgsprite._clock {
  width: 38px;
  height: 38px;
}

.svgsprite._document {
  width: 38px;
  height: 38px;
}

.svgsprite._documents {
  width: 38px;
  height: 38px;
}

.svgsprite._dollar {
  width: 38px;
  height: 38px;
}

.svgsprite._done {
  width: 20px;
  height: 20px;
}

.svgsprite._download {
  width: 20px;
  height: 15px;
}

.svgsprite._drop {
  width: 11px;
  height: 8px;
}

.svgsprite._error {
  width: 20px;
  height: 20px;
}

.svgsprite._exit {
  width: 17px;
  height: 17px;
}

.svgsprite._eye {
  width: 38px;
  height: 38px;
}

.svgsprite._filter {
  width: 18px;
  height: 18px;
}

.svgsprite._header-finance {
  width: 12px;
  height: 21px;
}

.svgsprite._header-history {
  width: 24px;
  height: 25px;
}

.svgsprite._header-orders {
  width: 15px;
  height: 17px;
}

.svgsprite._header-user {
  width: 21px;
  height: 21px;
}

.svgsprite._home {
  width: 38px;
  height: 38px;
}

.svgsprite._main-panels-ico_1 {
  width: 57px;
  height: 58px;
}

.svgsprite._main-panels-ico_2 {
  width: 58px;
  height: 58px;
}

.svgsprite._main-panels-ico_3 {
  width: 58px;
  height: 58px;
}

.svgsprite._main-panels-ico_4 {
  width: 58px;
  height: 58px;
}

.svgsprite._meneger-info {
  width: 25px;
  height: 25px;
}

.svgsprite._minus {
  width: 6px;
  height: 2px;
}

.svgsprite._mobile-popup-close {
  width: 19px;
  height: 19px;
}

.svgsprite._next {
  width: 15px;
  height: 16px;
}

.svgsprite._notifications {
  width: 19px;
  height: 20px;
}

.svgsprite._order {
  width: 38px;
  height: 38px;
}

.svgsprite._plus {
  width: 7px;
  height: 8px;
}

.svgsprite._prev {
  width: 15px;
  height: 16px;
}

.svgsprite._progress {
  width: 20px;
  height: 20px;
}

.svgsprite._search {
  width: 18px;
  height: 18px;
}

.svgsprite._select-check {
  width: 20px;
  height: 21px;
}

.svgsprite._status-arrow {
  width: 13px;
  height: 13px;
}

.svgsprite._subtract {
  width: 13px;
  height: 13px;
}

.svgsprite._tablet-exit {
  width: 32px;
  height: 32px;
}

.svgsprite._user {
  width: 38px;
  height: 38px;
}

.svgsprite._user-1 {
  width: 38px;
  height: 38px;
}

.--flex {
  display: flex;
}

.--jcsb {
  justify-content: space-between;
}

.--jcfe {
  justify-content: flex-end;
}

.--jccn {
  justify-content: center;
}

.--aicn {
  align-items: center;
}

.--aife {
  align-items: flex-end;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.--large {
  width: 100%;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 96.3%;
  color: #fff;
  background-color: #506FDE;
  border-radius: 4px;
}

.btn.--medium {
  padding-left: 20px;
  padding-right: 20px;
  height: 37px;
  border-radius: 4px;
  background-color: #506FDE;
  color: #fff;
  font-size: 14px;
}

.btn.--add {
  width: 100%;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  background-color: #506FDE;
  border-radius: 4px;
  margin-bottom: 25px;
}

.btn.--add svg {
  margin-right: 14px;
  margin-left: -25px;
}

.button-catalog {
  width: 167px;
  margin-right: 22px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #222731;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.button-catalog svg {
  margin-right: 25px;
  margin-left: -25px;
}

.button-basket {
  width: 144px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  border-left: 1px solid #D1D3D5;
}

.button-basket svg {
  margin-right: 9px;
}

.button-basket__summ {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #EAEFF4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
}

.btn-download {
  width: 100%;
  max-width: 115px;
  height: 28px;
  background-color: #F1F5F9;
  border-radius: 5px;
  font-size: 13px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-download svg {
  margin-right: 9px;
}

.btn-add-transparent {
  height: 37px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #506FDE;
  border: 1px solid #506FDE;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

/*
Основной контейнер
*/

.content {
  overflow: hidden;
  width: 100%;
}

.content__wrap {
  display: flex;
}

.content--user {
  width: calc(100% - 280px);
  margin-left: 280px;
  min-height: 100vh;
  background-color: #fff;
}

.section-grey {
  padding: 32px 52px;
  background-color: #F1F5F9;
}

section {
  padding: 32px 52px;
}

.n-footer {
  background-color: #F5F6FA;
  padding-top: 72px;
  padding-bottom: 72px;
  width: 100%;
}

.n-footer__item.--info {
  width: 314px;
  margin-right: 110px;
}

.n-footer__item.--nav {
  width: 246px;
  margin-right: 110px;
  padding-left: 60px;
}

.n-footer__nav-title {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 26px;
  border-right: 1px solid #E5E9F3;
}

.n-footer__nav-title span {
  position: absolute;
  right: 15px;
  top: -10px;
  transform-origin: center right;
  transform: rotateZ(-90deg);
  font-weight: 600;
  font-size: 18px;
}

.n-footer__logo {
  margin-bottom: 16px;
}

.n-footer__phone,
.n-footer__email {
  display: block;
  font-size: 30px;
  line-height: 100%;
  margin-bottom: 16px;
}

.n-footer__contacts {
  margin-top: 16px;
  padding-top: 12px;
  border-top: 1px solid #E5E9F3;
}

.n-footer__contact-title {
  font-weight: bold;
  line-height: 1.4;
}

.n-footer__contact-address p {
  margin: 0;
  line-height: 1.4;
}

.n-footer__nav-link {
  display: block;
  margin-bottom: 12px;
  line-height: 1;
}

.n-footer__btn {
  margin-bottom: 37px;
}

.n-footer__pays {
  margin-bottom: 38px;
}

.n-footer__pays p {
  margin-bottom: 12px;
}

.n-footer__pays-icons {
  display: flex;
  justify-content: space-between;
}

.n-footer__pays-icon {
  align-self: center;
  width: calc(25% - 5px);
  justify-content: center;
  display: flex;
}

.n-footer__copyright {
  font-size: 11px;
  line-height: 110%;
}

.n-footer__copyright.mobile {
  display: none;
}

.menu {
  width: 280px;
  display: flex;
  min-height: 100vh;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

.menu.--tablet {
  display: none;
}

.menu.--mobile {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  display: none;
  height: 100%;
}

.menu.--mobile .menu__content {
  height: 100%;
  width: 282px;
  z-index: 10;
}

.menu__bg {
  background: rgba(10, 10, 11, 0.67);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.menu__logo {
  width: 60px;
  box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.27);
  background-color: #222731;
  display: flex;
  justify-content: center;
  padding-top: 14px;
  align-items: flex-start;
}

.menu__content {
  width: 220px;
  background-color: #141923;
  padding-top: 25px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.menu__top {
  width: 100%;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
  height: calc(100% - 220px);
}

.menu__maneger {
  align-self: flex-end;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  border-top: 1px solid #2A3440;
  padding-bottom: 20px;
  max-height: 220px;
}

.menu__message {
  position: absolute;
  right: 30px;
  top: 0;
  cursor: pointer;
  z-index: 30;
}

.notification:after {
  content: "";
  position: absolute;
  right: -6px;
  top: -2px;
  width: 14px;
  height: 14px;
  border: 2px solid #141923;
  background-color: #FF2828;
  border-radius: 50%;
  opacity: 0;
}

.notification.active:after {
  opacity: 1;
}

.user {
  text-align: center;
  margin-bottom: 21px;
}

.user__avatar {
  margin: 0 auto 14px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;
}

.user__avatar img {
  width: 100%;
}

.user__name {
  margin-bottom: 4px;
}

.maneger__title {
  margin-bottom: 27px;
}

.manager__avatar {
  width: 47px;
  height: 47px;
  margin-bottom: 14px;
}

.manager__name {
  margin-bottom: 7px;
}

.manager__email {
  display: block;
  margin-bottom: 5px;
}

.nav__link {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
  font-size: 14px;
  height: 40px;
  color: #D1D3D5;
}

.nav__link .svgsprite {
  width: 18px;
  margin-right: 12px;
}

.nav__link:not(.nav__link-exit):hover {
  color: #506FDE;
}

.nav__link:not(.nav__link-exit):hover .svgsprite {
  stroke: #506FDE;
  fill: #506FDE;
}

.nav__link-exit {
  position: absolute;
  left: 27px;
  bottom: 36px;
  padding-left: 0px;
}

.menu__maneger__btn {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #273249;
  margin: 0 auto;
  border-radius: 8px;
}

.header {
  display: none;
}

.mobile-popup {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 24, 27, 0.78);
  display: none;
}

.mobile-popup__panel {
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 46px);
  box-shadow: 0px 24.2185px 39.4673px rgba(0, 47, 67, 0.21);
  border-radius: 13px;
}

.mobile-popup__close {
  position: absolute;
  right: 20px;
  bottom: 100%;
  margin-bottom: 14px;
}

.svgsprite._home {
  stroke: #D1D3D5;
  stroke-width: 2.98801;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.svgsprite._clock {
  stroke: #D1D3D5;
  stroke-width: 3.36471;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.svgsprite._dollar {
  fill: #D1D3D5;
}

.svgsprite._dollar {
  fill: #D1D3D5;
}

.svgsprite._document {
  fill: #D1D3D5;
}

.svgsprite._documents {
  stroke: #D1D3D5;
  stroke-width: 2.97143;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.svgsprite._user-1 {
  stroke: #D1D3D5;
  stroke-width: 3.93055;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.svgsprite._user {
  fill: #D1D3D5;
}

.content__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.content__header.--ico .title {
  display: flex;
  align-items: center;
}

.content-header-ico {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  background-color: #141923;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
}

.main__description {
  display: flex;
  margin-bottom: 24px;
}

.main__description p {
  margin-right: 13px;
}

.play-link {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: #506FDE;
}

.play-link svg {
  margin-right: 5px;
}

.main__panels {
  display: flex;
}

.main__panel {
  background: #FFFFFF;
  box-shadow: 0px 2.93032px 23.4426px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  padding: 22px 17px 26px;
  min-width: 166px;
  margin-right: 16px;
  margin-bottom: 10px;
}

.main__panel-ico {
  margin-bottom: 13px;
}

.page__title {
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table {
  width: 100%;
  margin-top: 24px;
}

.table td {
  padding-left: 13px;
  padding-right: 13px;
}

.table td.right-padding {
  padding-right: 30px;
}

.table thead td {
  height: 39px;
  background-color: #F1F5F9;
  font-size: 13px;
  color: #969EA8;
}

.table thead td:first-child {
  border-radius: 4px 0 0 4px;
}

.table thead td:last-child {
  border-radius: 0 4px 4px 0;
}

.table tbody td {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECF2F4;
}

.table tbody p:not(:first-child) {
  margin-top: 5px;
}

.status {
  position: relative;
}

.status:after {
  content: "";
  position: absolute;
  right: 100%;
  margin-right: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: url(../img/table/status-arrow.svg) no-repeat center/contain;
}

.status .svgsprite {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.price {
  font-size: 14px;
  padding-left: 15px;
  border-left: 1px solid #F1F5F9;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -15px;
}

.main__tables {
  display: flex;
  justify-content: space-between;
}

.main__history {
  width: calc(100% - 545px);
}

.main__docs {
  width: 465px;
}

.ico-text {
  display: flex;
  align-items: center;
}

.ico-text .blue-ico {
  margin-right: 14px;
}

.ico-text__info {
  width: calc(100% - 40px);
}

.ico-text__info p {
  margin-bottom: 5px;
}

.main__doc {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 20px;
  border-top: 1px solid #ECF2F4;
}

.main__doc:last-child {
  border-bottom: 1px solid #ECF2F4;
}

.main__doc-left {
  width: calc(100% - 150px);
}

.enter {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
}

.enter__panel {
  width: 100%;
  max-width: 447px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 47, 67, 0.08);
  border-radius: 11px;
  padding: 39px 40px;
}

.enter__logo {
  margin-bottom: 30px;
}

.enter__description {
  padding-top: 35px;
  text-align: center;
}

.enter__checkbox {
  margin-bottom: 22px;
}

.head-select {
  display: flex;
  margin-right: -24px;
}

.head-select__item {
  width: calc(25% - 24px);
  margin-right: 24px;
  margin-bottom: 12px;
}

.head-select__item p {
  margin-bottom: 8px;
}

.clear__filter {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: #506FDE;
}

.clear__filter svg {
  margin-left: 8px;
}

.air-datepicker-nav--title {
  font-weight: 600;
  color: #18273A;
}

.air-datepicker-nav--title i {
  font-weight: 600;
  color: #18273A;
}

.air-datepicker-body--day-name {
  color: rgba(28, 48, 74, 0.5);
}

.air-datepicker-cell.-selected- {
  background-color: #506FDE;
}

.air-datepicker-cell.-selected-:hover {
  background-color: #506FDE;
}

.air-datepicker-cell.-current- {
  color: #506FDE;
}

.mobile-popup h2 {
  margin-bottom: 24px;
}

.mobile-popup .btn {
  margin-top: 39px;
}

.mobile-popup .clear__filter {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
}

.mobile-popup.--history .mobile-popup__panel {
  padding: 27px 24px;
}

.filter-mobile {
  width: 157px;
  height: 42px;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 1px solid #C6CFD7;
  border-radius: 4px;
}

.filter-mobile svg {
  margin-right: 21px;
  margin-left: -21px;
}

.profile {
  display: flex;
}

.profile-menu {
  width: 240px;
  padding-right: 38px;
  border-right: 1px solid #E3E7EC;
}

.profile-menu__link {
  height: 36px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  font-size: 14px;
  border-radius: 3px;
  font-weight: 500;
}

.profile-menu__link.active {
  background: #F1F5F9 url(../img/profile/arrow.svg) no-repeat right 18px center/6px auto;
  color: #506FDE;
}

.profile__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profile__title {
  margin-bottom: 34px;
}

.profile__name {
  width: 165px;
}

.profile__form-left {
  padding-bottom: 42px;
  border-bottom: 1px solid #ECF2F4;
  margin-bottom: 42px;
}

.profile__block:last-child .profile__form-left {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: none;
}

.profile__right {
  width: calc(100% - 240px);
  padding-left: 45px;
}

.profile__right .input {
  margin-bottom: 0px;
}

.profile__block {
  display: flex;
}

.profile__input {
  width: 325px;
}

.add-avatar {
  width: 130px;
  margin-left: 75px;
  align-self: flex-start;
  cursor: pointer;
}

.add-avatar input {
  display: none;
}

.add-avatar .link {
  text-align: center;
}

.add-avatar__pic {
  width: 110px;
  height: 110px;
  margin: 0 auto 13px;
  background: url(../img/profile/avatar-bg.svg) no-repeat center top/contain;
  border-radius: 50%;
}

.profile__btn {
  padding-top: 17px;
  margin-bottom: 10px;
}

.profile__link {
  margin-left: 44px;
  padding-top: 18px;
}

.profile__text {
  height: 50px;
  width: 325px;
  line-height: 50px;
}

.details .profile__block {
  flex-wrap: wrap;
}

.details .profile__title {
  width: 100%;
}

.profile__address {
  display: flex;
}

.profile__status {
  margin-left: 65px;
  margin-top: 18px;
}

.add__adress {
  width: 100%;
  padding-bottom: 30px;
}

@media (max-height: 855px) and (min-width: 1400px) {
  .menu__top {
    height: calc(100% - 225px);
  }

  .menu__maneger {
    max-height: 225px;
  }
}

@media (max-height: 710px) and (min-width: 1400px) {
  .nav__link-exit {
    position: relative;
    left: 0;
    bottom: auto;
    padding-left: 12px;
  }

  .menu__top {
    padding-bottom: 20px;
  }
}

@media (max-width: 1400px) {
  .content--user {
    width: calc(100% - 58px);
    margin-left: 58px;
  }

  .n-footer__item.--info {
    margin-right: 50px;
  }

  .n-footer__item.--nav {
    margin-right: 50px;
  }

  .btn {
    height: 50px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .menu.--desktop {
    display: none;
  }

  .menu.--tablet {
    display: flex;
    flex-wrap: wrap;
    background-color: #111723;
    padding-top: 14px;
    width: 58px;
  }

  .--tablet .menu__top {
    width: 100%;
    padding: 0;
    height: calc(100vh - 110px);
  }

  .--tablet .menu__bottom {
    width: 100%;
    height: 110px;
    align-self: flex-end;
  }

  .--tablet .menu__logo {
    width: 100%;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }

  .--tablet .nav__link {
    font-size: 0px;
    padding-left: 0px;
    justify-content: center;
  }

  .--tablet .nav__link .svgsprite {
    width: 22px;
  }

  .--tablet .nav__link .svgsprite {
    margin-right: 0px;
  }

  .--tablet .nav__link-exit {
    left: 0;
  }

  .--tablet .nav__link-exit .svgsprite {
    width: 32px;
  }

  .--tablet .menu__top .btn.--add {
    font-size: 0px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    justify-content: center;
    margin: 0 auto 13px;
  }

  .--tablet .menu__top .btn.--add .svgsprite {
    margin: 0;
  }

  .--tablet .user__avatar {
    width: 39px;
    height: 39px;
  }

  .--tablet .menu__message {
    position: relative;
    width: 17px;
    right: auto;
    top: auto;
    margin: 0 auto 20px;
  }

  .--tablet .menu__maneger {
    padding: 0;
    padding-top: 26px;
  }

  .main__tables .blue-ico {
    display: none;
  }

  .main__docs {
    width: 332px;
  }

  .main__history {
    width: calc(100% - 390px);
  }

  .profile {
    flex-wrap: wrap;
  }

  .profile-menu {
    width: 100%;
    display: flex;
    margin-bottom: 32px;
    padding-right: 0px;
    border-right-color: transparent;
  }

  .profile-menu__link {
    min-width: 202px;
    margin-right: 6px;
  }

  .profile__right {
    padding-left: 0px;
    width: 100%;
  }
}

@media (max-width: 980px) {
  .text-medium-big {
    font-size: 13px;
  }

  .main__panels {
    width: calc(100% + 40px);
    overflow-y: auto;
    padding-left: 20px;
    margin-left: -20px;
  }

  .input input {
    height: 44px;
  }

  .content--user {
    width: 100%;
    margin-left: 0;
  }

  section,
  .section-grey {
    padding: 32px 24px;
  }

  .content__wrap {
    display: block;
  }

  .n-footer__item.--info {
    margin-right: 0px;
    width: 100%;
  }

  .n-footer__item.--nav {
    margin-right: 0px;
    width: 100%;
  }

  .n-footer__item {
    margin-bottom: 50px;
  }

  .n-footer__pays-icons {
    max-width: 320px;
  }

  .n-footer .n-container {
    flex-wrap: wrap;
  }

  .n-footer__copyright.desktop {
    display: none;
  }

  .n-footer__copyright.mobile {
    display: block;
    padding-bottom: 50px;
  }

  .header__nav {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    background-color: #141923;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    height: 43px;
  }

  .header__left,
  .header__right {
    display: flex;
    align-items: center;
  }

  .header__burger {
    margin-right: 13px;
    transform: translateY(-2px);
  }

  .header__logo {
    width: 32px;
  }

  .menu.--tablet {
    display: none;
  }

  .header__basket {
    margin-right: 15px;
    margin-left: 15px;
  }

  .user {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user__avatar {
    margin: 0;
    margin-right: 14px;
    width: 54px;
    height: 54px;
  }

  .user__name {
    text-align: left;
  }

  .user__company {
    text-align: left;
  }

  .menu__maneger {
    height: 170px;
  }

  .manager__avatar {
    margin-right: 17px;
  }

  .menu__group {
    display: flex;
  }

  .menu__top {
    height: calc(100% - 170px);
  }

  .main__tables {
    display: block;
  }

  .main__description {
    display: block;
  }

  .main__description p {
    display: inline;
  }

  .main__panel {
    padding: 17px 13px 20px;
    min-width: 130px;
  }

  .main__panel-ico .svgsprite {
    width: 44px;
    height: 44px;
  }

  .main__history {
    width: 100%;
    margin-bottom: 38px;
  }

  .main__docs {
    width: 100%;
  }

  .content-enter {
    background-color: #fff;
  }

  .enter__panel {
    box-shadow: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .enter {
    align-items: flex-start;
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .clear__filter {
    display: none;
  }

  .head-select {
    display: none;
  }

  .head-select__item {
    width: 100%;
    margin-bottom: 16px;
  }

  .filter-mobile {
    display: flex;
  }

  .profile__status {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 32px;
  }

  .profile__address {
    width: 100%;
    flex-wrap: wrap;
  }

  .profile-menu {
    display: block;
    max-width: 210px;
    margin-bottom: 28px;
  }

  .add__adress {
    padding-bottom: 0px;
  }

  .profile__block {
    flex-wrap: wrap;
    border-bottom: 1px solid #ECF2F4;
    padding-bottom: 46px;
    margin-bottom: 46px;
  }

  .profile__form-left {
    width: 100%;
    border: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .add-avatar {
    order: -1;
    margin-left: 0px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;
  }

  .add-avatar__pic {
    margin: 0;
    margin-right: 22px;
  }

  .profile__item {
    display: block;
  }

  .profile__name {
    margin-bottom: 8px;
  }

  .profile__text {
    height: auto;
    line-height: 100%;
    margin-bottom: 24px;
  }

  .profile__link {
    margin-left: 0px;
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  .profile__input {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .n-footer {
    padding-top: 37px;
  }

  .n-footer__logo {
    width: 230px;
    margin-bottom: 16px;
  }

  .n-footer__phone,
  .n-footer__email {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .n-footer__btn {
    margin-bottom: 16px;
  }

  .n-footer__pays {
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=maps/common.css.map */
